* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

html,
body {
    height: 100%;
    width: 100%;
    font-family: neue-haas-grotesk-display, sans-serif;
}

nav {
    background-color: #111;
    position: fixed;
    width: 100%;
    height: 13vh;
    padding: 2vw 10.5vw;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    z-index: 100;
}

.nav-links {
    display: flex;
    gap: 2.8vw;
    align-items: flex-start;
    padding: 1vh 0;
    position: relative;
    z-index: 9;
}

.nav-links h4 {
    font-size: 0.79vw;
    font-weight: 600;
    margin-bottom: 2.1vw;
}

.nav-links h5 {
    margin-bottom: 1vw;
    display: none;
}

.nav-links h5 span {
    font-size: 0.79vw;
    font-weight: 400;
    display: inline-block;
}

nav button {
    background-color: #008000;
    display: flex;
    align-items: center;
    padding: 12px 15px;
    border-radius: 50px;
    border: none;
    font-size: 0.9vw;
    font-weight: 700;
}

nav button svg {
    height: 1vw;
    margin-left: 1vw;
}


#nav-bottom {
    width: 79.55%;
    height: 0;
    background-color: #111;
    position: absolute;
    top: 100%;
    z-index: 8;
    border-bottom: 1px solid #dadada;
}

nav a{
    text-decoration: none;
}

nav a:hover{
    color: #008000;
}

#page1 {
    height: 100vh;
    width: 100%;
    background-color: #111;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}

#page1 h1 {
    font-size: 8.5vw;
    text-transform: uppercase;
    font-weight: 900;
    line-height: 8.5vw;
}


#page1 h1 svg {
    height: 7vw;
    width: 7vw;
    border-radius: 50%;
    background-color: #008000;
}

#page1 p {
    text-align: center;
    font-weight: 500;
    line-height: 2.5vh;
    font-size: 19px;
}

#page1-something {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
}

#page1-something h4 {
    font-weight: 400;
    font-size: 1vw;
    text-transform: lowercase;
    padding: 5px 10PX;
    border: 1px, solid, white;
    border-radius: 20px;
    margin: 3px;
}

#page1-something h4:nth-child(3) {
    border: none;
    padding: 2px;
}

#moving-div {
    position: absolute;
    display: flex;
    bottom: 2%;
    margin: 10vh;
    width: 50%;
    overflow: hidden;
}

#moving-div .move {
    display: flex;
    align-items: center;
    gap: 0.8vw;
    animation-name: move;
    animation-duration: 9s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#moving-div .move img {
    height: 2.2vh;
    margin: 0 1vw;
}

@keyframes move {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

#page2 {
    height: 100vh;
    width: 100%;
    background-color: #111;
    position: relative;
    padding: 0 10.5vw;
    padding-bottom: 5vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #333;
}

#page2-left {
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 3vw 0vw;
}

#page2-left p {
    font-size: 0.890vw;
}

#page2-left h5 {
    font-size: 1.1vw;
    font-weight: 400;
    width: 75%;
}


#page2-right {
    height: 100%;
    width: 50%;
}

#right-elem {
    position: relative;
    padding-top: 2vw;
    padding-bottom: 5vw;
    border-bottom: 1px solid #333;
}

#right-elem h2 {
    font-size: 1.3vw;
    font-weight: 400;
}

#page3 {
    height: 100vh;
    width: 100%;
    background-color: #111;
    position: relative;
    background-image: url(https://cdn.dribbble.com/userupload/6258310/file/original-41a64871db775f200d5e7f5553485279.png?resize=1504x1128&vertical=center);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page3-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1vw;
}

.page3-center h5 {
    font-size: 0.8vw;
    font-weight: 780;
    padding: 10px 20px;
    text-transform: uppercase;
    color: black;
    background-color: #fff;
    padding-top: 1vw;
    margin-top: 1vw;
    border-radius: 20px;
    opacity: 0;
    transition: all 0.6s ease-in;
    transform: translateY(15%);
}

.page3-center .icon {
    background-color: gray;
    padding: 3.3vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.page3-center .icon i {
    font-size: 2.5vw;
    color: black;
}

.page3-center:hover h5 {
    opacity: 1;
    transform: translateY(0);
}

#page3 video {
    height: 100%;
    width: 100%;
    position: absolute;
    object-fit: cover;
    transform: scaleX(0.7) scaleY(0);
    opacity: 0;
    border-radius: 30px;
    z-index: 100;
}


#page4 {
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10.5vw;
    padding-bottom: 7vw;

}

#page4-left {
    height: 100vh;
    width: 40%;
    margin-top: 6vw;
    padding: 0 1.95vw;
    padding-top: 7vw;
}

#page4-left h1 {
    color: black;
    font-weight: 750;
    font-size: 3.5vw;
}

#page4-right {
    height: 100vh;
    width: 50%;
    margin-top: 6vw;
    padding: 7vw 2vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
}

#page4-right p {
    color: black;
    font-weight: 400;
    font-size: 20px;

}

#page4-right .p1 {
    padding-top: 5vw;
}

#page4-right p span {
    color: black;
    font-weight: 200;
    font-size: 15px;
    opacity: 0.4;
}

#our-client {
    height: 150vh;
    width: 100%;
    background-color: #111;
    padding: 5vw 5vw;
    padding-top: 3vw;
    margin-top: 1vw;
    position: relative;
}

#our-client h1 {
    font-weight: 600;
    font-size: 5vw;
    padding-left: 4vw;
}

#our-client .client-p {
    font-size: 1.5vw;
    font-weight: 100;
    padding-left: 4vw;
}

#client-container {
    padding: 0vw 5vw;
    padding-top: 3vw;
    padding-right: 8vw;
    margin-top: 0.5vw;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 5px;
    position: absolute;
}

#client-container .client-items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    border-radius: 10px;
    height: 15vw;
    width: 25vw;
    padding: 1vw 1vw;
}

#client-container .client-items svg {
    height: 2vw;
}

#client-container .client-items img {
    height: 2vw;
}

#client-container .client-items p {
    font-weight: 300;
    font-size: 1vw;
    padding-bottom: 80px;
    opacity: 0.5;
}

#page5 {
    height: 100vh;
    width: 100%;
    padding: 5vw 3vw;
    position: relative;
}

#container {
    padding: 2vw 3vw;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 5px;
    position: absolute;
}

#container .item {
    padding: 1vw 1vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    border-radius: 10px;
    height: 15vw;
    width: 29.5vw;
    padding: 2.5vw 1.9vw;
    background-color: rgb(237, 237, 237);
    position: relative;
    overflow: hidden;
}

#container .item video {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    object-fit: cover;
    /* transform: scaleX(0.7) scaleY(0.7); */
    /* opacity: 1; */
    border-radius: 10px;
    /* z-index: 200; */
}

#container .item h1 {
    color: black;
    font-size: 3vw;
}

#container .item p {
    color: black;
    opacity: 0.29;
    font-size: 1vw;
}

#page6 {
    min-height: 100vh;
    width: 100%;
    background-color: #fff;
    position: relative;
}

.section-1 {
    width: 100%;
    height: 80vh;
    background-color: #111;
    position: absolute;
}

.section-1 .left {
    width: 65%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    padding: 0 7.5vw;
    padding-top: 8vw;
}

.section-1 .left h2 {
    font-size: 4vw;
    font-weight: 600;
}

.section-1 .left p {
    font-size: 1.4vw;
    padding-bottom: 7vw;
}

#page7 {
    min-height: 100vh;
    width: 100%;
    background-color: #fff;
    position: relative;
    padding-bottom: 13vh;
}

.section {
    height: 72vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10vh 7vw;
}

.section .sec-left {
    height: 120%;
    width: 25%;
    padding-top: 3vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-top: 0.5px solid #111;
}

.section .sec-left h1 {
    color: black;
    font-size: 40px;
    font-weight: 500;
    padding-right: 6vw;
    text-align: center;
}

.section .sec-left p {
    color: black;
    font-size: 20px;
    padding-bottom: 8vw;
    padding-left: 0vw;
}

.section .sec-right {
    height: 120%;
    width: 65%;
    background-color: darkgray;
    position: relative;
}

.section .sec-right img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.section .sec-right video {
    height: 100%;
    width: 100%;
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    opacity: 0;
}


.section2 {
    height: 72vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20vh 7vw;
}

.section2 .sec-left {
    height: 120%;
    width: 25%;
    padding-top: 3vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-top: 0.5px solid #111;
}

.section2 .sec-left h1 {
    color: black;
    font-size: 40px;
    font-weight: 500;
    padding-right: 6vw;
    text-align: center;
}

.section2 .sec-left p {
    color: black;
    font-size: 20px;
    padding-bottom: 0.5vw;
    padding-left: 0vw;
}

.section2 .sec-right {
    height: 180%;
    width: 65%;
    background-color: darkgray;
    position: relative;
}

.section2 .sec-right video {
    height: 100%;
    width: 100%;
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    opacity: 1;
}

#page8 {
    height: 100vh;
    width: 100%;
    position: relative;
    background-color: #111;
}

#page8-container {
    position: relative;
    height: 100%;
    width: 65%;
    /* background-color: red; */
    margin-left: 35%;
    padding: 3vw 1vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#page8-container .container1 {
    position: absolute;
    height: 86%;
    width: 45%;
    /* background-color: #008000; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* justify-content: space-between; */
    row-gap: 2vh;
}

#page8-container .container1 h2 {
    margin-top: 5%;
    font-size: 2.5vw;
}

#page8-container .container1 p {
    padding-top: 12%;
    font-size: 18px;
    opacity: 50%;
}

#page8-container .container1 video {
    position: absolute;
    height: 60%;
    width: 100%;
    object-fit: cover;
    margin-top: 61%;

}

#page8-container .container2 {
    position: absolute;
    height: 86%;
    width: 45%;
    margin-left: 50%;
    /* background-color: #008000; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* justify-content: space-between; */
    row-gap: 2vh;
}



#page8-container .container2 h2 {
    margin-top: 5%;
    font-size: 2.5vw;
}

#page8-container .container2 p {
    padding-top: 12%;
    font-size: 18px;
    opacity: 50%;
}

#page8-container .container2 video {
    position: absolute;
    height: 60%;
    width: 100%;
    object-fit: cover;
    margin-top: 61%;

}

#page8-container .container2 video:hover {
    height: 78%;
    margin-top: 30%;
    z-index: 1;
    transition: all 0.4s ease-in-out;
}

footer{
    position: relative;
    height:65%;
    width: 100%;
    background-color: #111;
}

#foot{
    /* border-top: 2px solid #dadada; */
    position: absolute;
    margin-top: 15%;
    padding: 3vw 10vw;
}

#foot-links{
    padding: 2vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#foot-links a{
    text-decoration: none;
}

#foot-links a:hover{
    color: #008000;
}